.interest{
    float: left;
    margin-left: 30px;
    margin-top:10px;
    position: relative;
    margin-bottom: 15px;
    text-align: center;
}

.btn_favorite{
    cursor: pointer;
    height: 25px;
    width: 25px;
    left: 8px;
    position: absolute;
    top: 6px;
}

.interest_normal{
    height: 155px;
}
.interest_normal .btn_favorite{
    background:transparent url(../img/favorite.png) no-repeat;
}

.interest_normal .btn_delete{
    background:transparent url(../img/delete.png) no-repeat;
    cursor: pointer;
    height: 25px;
    width: 25px;
    right: 8px;
    position: absolute;
    top: 8px;
}
.interest_normal .btn_favorite:hover{
    background:transparent url(../img/favorite-hover.png) no-repeat;
}

.interest_normal .btn_delete:hover{
    background:transparent url(../img/delete-hover.png) no-repeat;
}
.interest_thumb{
    height:100px;
    width:80px;
}
.interest_thumb .btn_favorite{
    background:transparent url(../img/favorite-hover.png) no-repeat;
}
.interest_thumb .btn_delete{
    display: none;
}
.interest_img_container{
	height: 125px;
	overflow: hidden;
}

.interest img{
    width: 140px;
}

.select_interest{
    display: none;
}
