.interest{
    float: left;
    margin-left: 30px;
    margin-top:10px;
    position: relative;
    margin-bottom: 15px;
    text-align: center;
}

.btn_favorite{
 	cursor: pointer;
    height: 20px;
    left: 9px;
    position: absolute;
    top: 9px;
    width: 20px;
}
#all_interests{
	background: rgba(256, 256, 256, 0.1);
	border-radius: 8px;
}
#chosen_interests h4{
	background: rgba(256, 256, 256, 0.3);
	padding: 6px;
	margin: 0;
}
legend{
	margin-bottom: 2px;
}
.interest_normal{
  height: 155px;
}
.interest_normal .btn_favorite{
    background: rgba(0, 0, 0, 0.3) url(../img/favorite.png) 3px 3px no-repeat;
	border-radius: 4px;
	box-shadow: 0px 0px 1px #999;
}

.interest_normal .btn_delete{
	cursor: pointer;
	height: 20px;
	width: 20px;
	right: 8px;
	position: absolute;
	top: 8px;
	background: rgba(0, 0, 0, 0.3) url(../img/delete.png) 3px 3px no-repeat;
	border-radius: 4px;
	box-shadow: 0px 0px 1px #999;
}
.interest_normal .btn_favorite:hover{
    background-image:url(../img/favorite-hover.png);
}

.interest_normal .btn_delete:hover{
    background-image:url(../img/delete-hover.png);
}
.interest_thumb{
    height:100px;
    width:80px;
}
.interest_thumb .btn_favorite{
    background:transparent url(../img/favorite-hover.png) no-repeat;
}
.interest_thumb .btn_delete{
    display: none;
}
.interest_img_container{
	overflow: hidden;
	border: 5px solid whitesmoke;
	box-shadow: 0px 0px 5px #888;
}

.interest img{
    width: 140px;
}

.select_interest{
    display: none;
}
#openModal{
	float: right;
	margin-top: 20px;
}
