@(publications: List[models.Publication], interest: models.Interest, location: models.Location,  promoteForm: Form[models.Promotion])

<h3>
 @{(interest,location) match{
   case (i, l)if(i != null && l != null) => "Últimas publicações sobre " + interest.getName + " em " + location.getName 
   case (i, null) if(i != null) => "Últimas publicações globais sobre " + interest.getName
   case (null, l) if(l != null) => "Últimas publicações em " + location.getName
	 case _ => "Últimas publicações globais em todos seus interesses"
 }}
</h3>

<div class="all_publications">
  @if(interest != null && location != null){
    @inputPublication(interest, location, promoteForm)
  } else {
  	<span class="btns">
  	<p>
  		Para conseguir publicar, você precisa escolher um interesse e uma cidade.
  	</p>
  	</span>
  
  }
  
  @if(publications.size > 0 ){
	 @for(pub <- publications.filter(_.getStatus > 0)){
	   @publication(pub, interest, location)
	 }
  } else {
  	<span class="btns">
	  	<p>
	  		Ainda não há publicações por aqui, faça a primeira!
	  	</p>
  	</span>
  }

</div>
