@()
<div class="meetups">
  <div class="btns_meetups">
    <input class="btn_promote" type="button"
      value="Quero organizar um encontro" /> <input class="btn_host"
      type="button" value="Tenho um espaço, quero receber encontros!" />
  </div>
  <h3>Próximos eventos</h3>
  <div class="meetup">
    <div class="meetup_title_shadow"></div>
    <img src=""@routes.Assets.at("img/evento1.jpg")" /> <span> título evento</span>
    <div class="meetup_date">
      <p>
        <i class="icon-calendar"></i> 29 de setembro
      </p>
      <p>
        <i class="icon-map-marker"></i> Campinas, SP
      </p>
    </div>
  </div>
</div>