@(
  promotionsPage: Page[models.Promotion], 
  interest: models.Interest,
  location: models.Location,
  promoteMeetupForm: Form[utils.MeetUpPromotion],
  hostMeetupForm: Form[utils.MeetUpHosting]
)

@promotions = @{promotionsPage.getList}

<div class="meetups">
  @if(location != null){
	  <div class="btns_meetups">
	   @if(interest != null){
	     @promoteMeetup(promoteMeetupForm, interest, location)
	   }
	   @hostMeetup(hostMeetupForm, location)
	  </div>
  }
  
  <h3>Próximos eventos</h3>
  
  @promList(promotions)
  <div id="promsFootPaginate">
      <div id="promsPaginateMsg"></div>
      <button id="nextPromotions">...</button>
  </div>  
</div>
