@(publicationsPage: Page[models.Publication], interest: models.Interest, location: models.Location,  promoteForm: Form[models.Promotion])

@publications = @{publicationsPage.getList}

<div class="all_publications">
  @if(interest != null && location != null){
    @inputPublication(interest, location, promoteForm)
  } else {
  	<span class="btns">
  	<p>
  		Para publicar, você precisa escolher um interesse e uma cidade.
  	</p>
  	</span>
  
  }
  
  @if(publications.size > 0 ){
	 @pubList(publications, interest, location)
  } else {
  	<span class="btns">
	  	<p>
	  		Ainda não há publicações por aqui, faça a primeira!
	  	</p>
  	</span>
  }
  
  <div id="pubsFootPaginate">
      <div id="pubsPaginateMsg" class="hide">Não há mais publicações a serem mostradas</div>
      <button id="nextPublications" ><i class="icon-caret-down"></i></button>
  </div>

</div>
