@(
  promotionsPage: Page[models.Promotion], 
  interest: models.Interest,
  location: models.Location,
  promoteMeetupForm: Form[utils.QueryBinder.MeetUpPromotion],
  hostMeetupForm: Form[utils.QueryBinder.MeetUpHosting]
)

@promotions = @{promotionsPage.getList}

<div class="meetups">
	  <div class="btns_meetups">
		   @promoteMeetup(promoteMeetupForm, interest, location)
		   @hostMeetup(hostMeetupForm, location)
	  </div>
  
  <h3>Próximos eventos</h3>
  
  @promList(promotions)
  <div id="promsFootPaginate">
      <div id="promsPaginateMsg" class="hide">Todos os eventos já estão sendo exibidos</div>
      <button id="nextPromotions"><i class="icon-caret-down"></i></button>
  </div>  
</div>
