@(
  hostMeetupForm: Form[utils.Forms.MeetUpHosting],
  location: models.Location
)
@import helper._ 
@import mupiHelpers._

<a class="btn_promote" type="button"  href="#host_meetup" data-toggle="modal">
  Quero receber eventos Mupi
</a>


<div id="host_meetup" class="modal fade hide">
  @form(routes.Feed.hostMeetUp){
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h3>Tenho um espaço e quero receber eventos Mupi</h3>
    </div>
    <div class="modal-body">
	    @mupiFormTextArea(
	      field=hostMeetupForm("description"),
	      label="Conte-nos mais sobre seu local!",
	      ('id, "description_promotionMeetup"),
	      ('rows, 10),
        ('placeholder, "Descreva-nos informações como a estrutura que você tem, a disponibilidade de horários e dias, o endereço e sua motivação para receber os eventos Mupi!")
	    )
    </div>
    <div class="modal-footer">
      <a href="#" class="btn" data-dismiss="modal" aria-hidden="true">Cancelar</a>
      <input type="submit" class="btn" value="Enviar"/>
    </div>
  }
</div>