@(interest: models.Interest, location: models.Location)


<span class="btns">
  <a class="btns_publication" href="#promote_event" data-toggle="modal">Divulgar evento</a>
  <a class="btns_publication" id="open_publication_input">Nova publicação</a>
</span>

<div class="hide" id="input_publication">
  <textarea id="body_publication" placeholder="Digite sua publicação"></textarea>

  <span class="btns"> <span>Publicando em: <b>[@interest.name]</b> - <b>[@location.name]</b></span>
    <a id="btn_publish" class="btns_publication" href="#preview_publication" data-toggle="modal">Publicar</a>
  </span>
</div>

 <div id="promote_event" class="modal fade hide">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>Divulgar evento</h3>
    </div>
    <div class="modal-body">
        <label>Título</label>
        <input type="text" placeholder="Título do evento">
        <div id="event_image" class="fileupload fileupload-new span3" data-provides="fileupload">
            <div class="fileupload-new thumbnail" ><img src="" /></div>
            <div class="fileupload-preview fileupload-exists thumbnail" ></div>
            <div>
                <span class="btn btn-file"><span class="fileupload-new">Escolher foto</span>
                    <span class="fileupload-exists">Trocar</span><input type="file" /></span>
                <a href="#" class="btn fileupload-exists" data-dismiss="fileupload">Remover</a>
            </div>
        </div>
        <label>Data</label>
        <input type="text" placeholder="dd//mm/aaaa">
        <label>Hora</label>
        <input type="text" placeholder="hh:mm">
        <label>Descrição</label>
        <input type="text" placeholder="Detalhes do evento">


    </div>
    <div class="modal-footer">
        <a href="#" class="btn" data-dismiss="modal" aria-hidden="true">Editar</a>
        <a href="#" class="btn btn-primary">Confirmar</a>
    </div>
</div>

<div id="preview_publication" class="modal fade hide">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>Pré-visualização da publicação</h3>
    </div>
    <div class="modal-body"></div>
    <div class="modal-footer">
        <a href="#" class="btn" data-dismiss="modal" aria-hidden="true">Editar</a>
        <a href="#" class="btn btn-primary" data-dismiss="modal" interest="@interest.id" location="@location.id" id="btn_confirm_publication">Confirmar</a>
    </div>
</div> 