@(prom : models.Promotion)

@publisherPic = @{"event/picture/medium" + prom.getPicture}

<div class="meetup_box">
	<a class="meetup" href="@routes.Mupi.promotion(prom.getId)" prom_id="@prom.getId" pub_typ="@prom.getPublication.getPub_typ.ordinal"> 
		<div class="radius_overflow_fix">
		  <div class="meetup_title_shadow"></div>
		  <img class="meetup_img" src="@routes.Mupi.at(publisherPic)" /> 
		  <span class="meetup_title">@prom.getTitle</span>
		  <div class="meetup_date meetup_info">
		    <p>
		      <i class="icon-calendar"></i> @prom.getDate.format("dd") de @prom.getDate.format("MMMM") de @prom.getDate.format("yyyy")
		    </p>
		    <p>
		      <i class="icon-star"></i> @prom.getPublication.getInterest.getName
		    </p>
		    <p>
		      <i class="icon-map-marker"></i> @prom.getPublication.getLocation.getName
		    </p>
		  </div>
	  </div>
	  <span class="num_subscribers meetup_info"><i class="icon-group"></i> @prom.getSubscribers.size confirmados</span>
	</a>
	

	@if(prom.getPublication.getPub_typ.compareTo(4)){
	  @if(prom.getSubscribers.contains(Mupi.getLocalUser(session()))){
	      <button class="meetUp_unsubscription_feed meetup_info" title="Cancelar inscrição">Desinscrever-me</button>
          <div class="mini_logo" title="Evento Mupi!"></div>
          <div class="subscribe_shadow meetup_info"></div>
	  }else{
	      <button class="meetUp_subscription_feed meetup_info" title="Fazer inscrição">Quero ir!</button>
          <div class="mini_logo" title="Evento Mupi!"></div>
          <div class="subscribe_shadow meetup_info"></div>
	  }
	}else{
	  @if(prom.getSubscribers.contains(Mupi.getLocalUser(session()))){
	      <button class="meetUp_unsubscription_feed meetup_info" title="Cancelar presença">Não vou mais</button>
          <div class="subscribe_shadow meetup_info"></div>
	  }else{
	      <button class="meetUp_subscription_feed meetup_info" title="Confirmar presença">Eu vou!</button>
          <div class="subscribe_shadow meetup_info"></div>
	  }
	}
</div>
