@(prom : models.Promotion)

@publisherPic = @{"event/picture/medium" + prom.getPicture}


<a class="meetup" href="@routes.Mupi.promotion(prom.getId)" prom_id="@prom.getId"> 
	<div class="radius_overflow_fix">
	  <div class="meetup_title_shadow"></div>
	  <img src="@routes.Mupi.at(publisherPic)" /> <span>@prom.getTitle</span>
	  <div class="meetup_date">
	    <p>
	      <i class="icon-calendar"></i> @prom.getDate.format("dd") de @prom.getDate.format("MMMM") de @prom.getDate.format("yyyy")
	    </p>
	    <p>
	      <i class="icon-map-marker"></i> @prom.getPublication.getLocation.getName
	    </p>
	  </div>
  </div>
</a>