@(
  promoteMeetupForm: Form[utils.MeetUpPromotion],
  interest: models.Interest,
  location: models.Location
)
@import helper._ 
@import mupiHelpers._

<a class="btn_promote" type="button"  href="#promote_meetup" data-toggle="modal">
  Quero organizar um evento Mupi
</a>


<div id="promote_meetup" class="modal fade hide">
  @form(routes.Feed.promoteMeetUp){
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h3>Quero organizar um evento Mupi</h3>
    </div>
    <div class="modal-body">
	    @mupiFormTextArea(
	      field=promoteMeetupForm("description"),
	      label="Conte-nos mais sobre o evento que quer organizar!",
	      ('id, "description_promotionMeetup"),
	      ('rows, 10),
        ('placeholder,"Conte-nos sobre qual assunto você quer compartilhar, qual o público que você deseja, qual a carga horária estimada e qual sua motivação para organizar esse encontro!")
	    )
    </div>
    <div class="modal-footer">
      <a href="#" class="btn" data-dismiss="modal" aria-hidden="true">Cancelar</a>
      <input type="submit" class="btn" value="Validar"/>
    </div>
  }
</div>