@(locations: List[models.Location],
  interests: List[models.Interest],
        interest: models.Interest,
        location: models.Location,
        promoteForm: Form[models.Promotion])

@import helper._
@import helper.twitterBootstrap._
@import mupiHelpers._

<link rel="stylesheet" href="@routes.Assets.at("stylesheets/mupiForm.css")" type="text/css" media="screen"/>
<script type="text/javascript" src="@routes.Assets.at("javascripts/promotionFormValidation.js")"></script>

<div id="promote_event" class="modal fade hide">
    @form(routes.Feed.promote, 'enctype -> "multipart/form-data", 'id -> "promoteForm") {
      <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h3>Divulgar evento</h3>
      </div>
      <div class="modal-body">

      @mupiFormInput(
        field=promoteForm("title"),
        typ="text",
        label="Título *"
      )

      @mupiFormImageUpload(field=promoteForm("picture"), "event/picture", "/blank_event.jpg")

      <p class="control-group promotion_modal_opts">
                          <span for="interest">
                            Interesse
                          </span>
              <select name='interest' id="interest_publication">
                <option name='interest' @if(interest == null){selected="selected"} value='-1'>Escolha o interesse</option>
                @for(i <- interests){
                  <option name='interest' value="@i.getId" @if(i == interest){selected="selected"}>@i.getName</option>
                }
              </select>
      </p>

      <p class="control-group promotion_modal_opts">
        <span for="location">
          Localidade
        </span>
              <select name='location' id="location_publication">
                <option name='location' @if(location == null){selected="selected"} value='-1'>Escolha a localização</option>
                @for(l <- locations){
                  <option name='location' value="@l.getId" @if(l == location){selected="selected"}>@l.getName</option>
                }
              </select>
      </p>

      @mupiMapsInput(
        field=promoteForm("address"),
        typ="text",
        label="Endereço *",
        ('placeholder,"Rua, Cidade, Estado")
      )

      @mupiFormMaskedInput(
        field=promoteForm("date"),
        label="Data *",
        mask="99/99/9999"
      )

      @mupiFormMaskedInput(
        field=promoteForm("time"),
        label="Hora *",
        mask="99:99"
      )

      @mupiFormInput(
        field=promoteForm("link"),
        typ="text",
        label="Site"
      )

      @mupiFormTextArea(
        field=promoteForm("description"),
        label="Descrição (máximo de 3000 caracteres) *",
        ('rows, "4"),
        ('cols, "50"),
        ('placeholder,"Informações sobre o que evento abordará, os valores, mais datas se houver e o que você mais achar relevante.")
      )
    </div>
    <div class="modal-footer">
        <a href="#" class="btn" data-dismiss="modal" aria-hidden="true">Editar</a>
        <input type="submit" value="Divulgar" class="btn" id="btn_confirm_promotion">
    </div>
  }
</div>