@(publication : Publication)

@import collection.JavaConversions._
@import collection.JavaConverters._
@import java.net.URLDecoder

<div class="publication">
  <div class="profile-thumb">
    <img src="@routes.Assets.at("profile/picture/393435068/me.jpg")" />
  </div>
  <i class="icon-caret-left caret_publication"></i>
  <p>@Html(publication.body)</p>
  <span class="pub_date">@publication.created.format("dd/MMM - hh:mm")</span>
  <ul class="pub_interact">
    <li>
      <a class="comment_lnk" href="#" comments="comments_@publication.id">
      <i class="icon-comments-alt"></i>@publication.comments.size() Comentários</a>
    </li>
  </ul>

  <div class="comments hide" id="comments_@publication.id">
    @if(publication.comments.size() > 0){
	    @for(comment <- publication.comments.asScala.sortBy(_.created).reverse){
	     <div class="comment">
<!-- 	        TODO: get picture -->
<!--        <img src="@routes.Assets.at("profilePictures/393435068/me.jpg")" /> -->
	       <p>@Html(comment.body)</p>
	       <span class="pub_date">@comment.created.format("dd/MMM - hh:mm")</span>
	     </div>
	   }
   }
  </div>
  <div class="textarea_comment">
    <textarea name="input_comment" placeholder="Comentar"></textarea>
    <a href="#" class="commentPub" publication="@publication.id">
      <div class="enter_comment">Comentar</div>
    </a>
  </div>
</div>