@(pub : Publication)

@import collection.JavaConverters._

@publisherPic = @{"profile/picture" + pub.profile.picture}

<div class="publication">
  <div class="profile-thumb">
    <img src="@routes.Assets.at(publisherPic)" />
  </div>
  <i class="icon-caret-left caret_publication"></i>
  <span class="publisher_name">@pub.profile.firstName @pub.profile.lastName</span>
  <span class="pub_date">@pub.created.format("dd/MMM - hh:mm")</span>
  <p>@Html(pub.body)</p>
  <ul class="pub_interact">
    <li class="comment_lnk" comments="comments_@pub.id">
      <i class="icon-comments-alt"></i>@pub.comments.size() Comentários
    </li>
  </ul>

  <div class="comments hide" id="comments_@pub.id">
    @if(pub.comments.size() > 0){
	    @for(comment <- pub.comments.asScala.sortBy(_.created).reverse){
	     <div class="comment">
<!-- 	        TODO: get picture -->
<!--        <img src="@routes.Assets.at("profilePictures/393435068/me.jpg")" /> -->
         <span class="commenter_name">@comment.profile.firstName @comment.profile.lastName</span>
         <span class="pub_date">@comment.created.format("dd/MMM - hh:mm")</span>
	       <p>@Html(comment.body)</p>
	     </div>
	   }
   }
  </div>
  <div class="textarea_comment">
    <textarea name="input_comment" placeholder="Comentar"></textarea>
    <div class="btns_comment hide">
	    <a href="#" class="commentPub" publication="@pub.id">
	      <div class="enter_comment">Comentar</div>
	    </a>
	    <div class="commentPub enter_cancel">Cancelar</div>
    </div>
  </div>
</div>