@(pub : models.Publication,interest: models.Interest, location: models.Location)

@import collection.JavaConverters._
@import mupiHelpers._

@publisherPic = @{"profile/picture/thumb" + pub.getProfile.getPicture}

<div class="publication" pub_id="@pub.getId">
  @if(pub.getPub_typ == 0){
	  <div class="profile-thumb mupi_thumbs">
		  <div class="fix_img">
		    <img src="@routes.Mupi.at(publisherPic)" />
		  </div>
	  </div>
	  <i class="icon-caret-left caret_publication"></i>
	  <div class="publication_body">
  	      <a href="#" rel="clickover" data-placement="left"
            data-content="<div class='mini_profile_thumb profile_thumb'>
            <div class='fix_img'>
                    <img src='@routes.Mupi.at(publisherPic)' />
             </div>
          </div>
            <small>Contribui desde @pub.getProfile.getCreated.format("dd/MM/yy")</small>
            @if(!pub.getProfile.getAbout.isEmpty()){<p>&quot;@pub.getProfile.getAbout&quot;</p>}
            <p><small><b>@pub.getProfile.getPublications.size()</b> publicações<br/>
               <b>@pub.getProfile.getPubComments.size()</b> comentários</small></p>"
            data-original-title="@pub.getProfile.getFirstName @pub.getProfile.getLastName">
          	<span class="publisher_name">@pub.getProfile.getFirstName @pub.getProfile.getLastName</span>
          </a>
          <a class="pub_link" title="Ver publicação" href="@routes.Mupi.publication(pub.getId)">
		  <span class="pub_date">@pub.getCreated.format("dd/MMM - HH:mm")</span>
		  @if(interest == null || pub.getInterest.getId != interest.getId){
		    <i class="icon-star"></i> <span class="pub_int">@pub.getInterest.getName</span>@if(location == null || pub.getLocation.getId != location.getId){ <i class="icon-map-marker"></i> <span class="pub_loc">@pub.getLocation.getName</span>}
		  }else{
		    @if(location == null || pub.getLocation.getId != location.getId){
	        <i class="icon-map-marker"></i> <span class="pub_loc">@pub.getLocation.getName</span>
	      	}
	  	  }
	  	  <i class="icon-plus-sign"></i>
		  </a>
		  
		  @if(Mupi.getLocalUser(session()).getProfile.getId == pub.getProfile.getId && pub.getPub_typ == models.Publication.PUBLICATION){
        <button type="button" class="remove_publication">excluir publicação</button>
		  }
		  
		  <p>@Html(pub.getBody)</p>
	  </div>
	  <ul class="pub_interact">
	    <li class="comment_lnk" comments="comments_@pub.getId">
	      <i class="icon-comments-alt"></i><span class="comments_size">@pub.getComments.asScala.filter(_.getStatus == models.PubComment.ACTIVE).size()</span> Comentários
	    </li>
	  </ul>
	
	  <div class="comments hide" id="comments_@pub.getId">
	    @comments(pub.getComments)
	  </div>
	  
	  <div class="textarea_comment">
	    <textarea name="input_comment" placeholder="Comentar"></textarea>
	    <div class="btns_comment hide">
	      <!--<input type="button" class="commentPub sendComent enter_comment"  value="Comentar" publication="@pub.getId"></input>
	      <input type="button" class="commentPub enter_cancel"  value="Cancelar" publication="@pub.getId"></input>-->
	      <a href="#" class="commentPub sendComent" publication="@pub.getId">
		  <div class="enter_comment">Comentar</div>
	      </a>
	      <div class="commentPub enter_cancel">Cancelar</div>

	    </div>
	  </div>
	}else{
	 <span class="prom_pub">@Html(pub.getBody) @pub.getProfile.getFirstName @pub.getProfile.getLastName</span>
	 <span class="pub_date">@pub.getCreated.format("dd/MMM - HH:mm")</span>
	}
	
</div>
