@(comments: List[models.PubComment])

@import java.net.URLDecoder

@if(comments.size() > 0){
   @for(comment <- comments.asScala.filter(_.getStatus == models.PubComment.ACTIVE).sortBy(_.getCreated)){

    <div class="comment" comment_id="@comment.getId">
      <div class="profile_thumb mupi_thumbs">
        <div class="fix_img">
                <img src="@routes.Mupi.at("profile/picture/thumb" + comment.getProfile.getPicture)" />
         </div>
      </div>
      <a href="#" rel="clickover" data-placement="left"
          data-content="<div class='mini_profile_thumb profile_thumb'>
                <div class='fix_img'>
                  <img src='@routes.Mupi.at("profile/picture/thumb" + comment.getProfile.getPicture)' />
                 </div>
              </div>
          <small>Contribui desde @comment.getProfile.getCreated.format("dd/MM/yy")</small>
          @if(!comment.getProfile.getAbout.isEmpty()){<p>&quot;@comment.getProfile.getAbout&quot;</p>}
          <p><small><b>@comment.getProfile.getPublications.size()</b> publicações<br/>
             <b>@comment.getProfile.getPubComments.size()</b> comentários</small></p>"
          data-original-title="@comment.getProfile.getFirstName @comment.getProfile.getLastName">
        <span class="commenter_name">@comment.getProfile.getFirstName @comment.getProfile.getLastName</span>
      </a>
      <span class="pub_date">@comment.getCreated.format("dd/MMM - HH:mm")</span>

      <p>@Html(comment.getBody)</p>
      
      @if(Mupi.getLocalUser(session()).getProfile.getId == comment.getProfile.getId){
        <button type="button" class="remove_comment">x</button>
      }

    </div>
  }
}
