

@(id: String, name: String, title: String, picture:String, description: String, checked:Boolean=false)



<div class="interest @if(checked){interest_thumb}else{interest_normal} " id="@id">
    <div class="btn_favorite"></div>
    
    <input 
      type="checkbox" 
      class="select_interest"
      name="@name"
      value="@id"
      data-content="@description" 
      data-original-title="@title"
      @if(checked){ checked }
    />    
  
    <div class="btn_delete"></div>
    <div class="interest_img_container">
      <img src="@routes.Assets.at(picture)" class="img-polaroid" />
    </div>
    <label>@title</label>
</div>
