@(field: play.api.data.Field, label: String=null,
  uLocations: List[models.Location],
  locations: List[models.Location])


@import helper._
@import helper.twitterBootstrap._
@import mupiHelpers._
@import play.libs.Json

@locs = @{locations.map(l => "{'id': " + l.getId + ", 'text': '" + l.getName + "'}" ) }
@allLocs = @{ Html(locs.mkString( "",",","" ) ) }


  <link href="@routes.Assets.at("stylesheets/select2.css")" rel="stylesheet">
  <script src="@routes.Assets.at("javascripts/select2.js")"></script>


    @if(label != null){
	  <label for="@field.name">
	    @label
	  </label>
    }

	  <input id="locationSelector" style="width: 300px; display: none; " value="">

	  <ul class="selectedLocations">
		  @for( location <- uLocations ){
		    <li class="selectedLocation">
		      <span id="loc_@location.getId" >@location.getName</span>
		      <button location="@location.getId" class="removeLocation">x</button>
	      </li>
	    }
    </ul>


<script>
  jQuery(document).ready(function() {
    jQuery("#locationSelector").select2({
        placeholder: "Digite a localizacao",
        data: [@allLocs],
        initSelection : function (element, callback) {
          callback([@allLocs]);
        },
        id: "id",
        matcher: function(term, text) {
          return normalize(text).toUpperCase().indexOf(normalize(term).toUpperCase())>=0;
        },
        createSearchChoice:function(term, data) {
            if (jQuery(data).filter(function() {
                return this.text.localeCompare(term)===0;
            }).length===0) {
                return {id:term, text: "Sugerir localizacao: "+ term};
            }
        }
    });

    jQuery("#locationSelector")
      .on("change", function(e) {
    	      if(!isNaN(parseInt(jQuery("#locationSelector").select2("val"))))
    	    	  registerLocation(jQuery("#locationSelector").select2("data"));
    	      else
    	    	  if (confirm("Você deseja sugerir a cidade " + jQuery("#locationSelector").select2("val") + "?")) {
    	    		  suggestLocation(jQuery("#locationSelector").select2("data"));
    	    		}

    	      jQuery("#locationSelector").select2("val", "");
      });


    jQuery(function(){
      jQuery('.removeLocation').live('click', function(){
        removeLocation(jQuery(this).attr('location'));
      });
    })
  });
</script>
