@(field: play.api.data.Field, label: String=null, 
  uLocations: List[models.Location], 
  locations: List[models.Location])

@import helper._ 
@import helper.twitterBootstrap._
@import mupiHelpers._
@import play.libs.Json

@allLocs = @{Html(Json.stringify(Json.toJson(locations)))}


<div class="row">
	<div class="span3">

    @if(label != null){
	  <label for="@field.name">
	    @label
	  </label>
    }
	  
	  
	
	  <input type="text" id="locationSelector" data-provide="typeahead" placeholder="Digite a cidade e clique no '+'" AUTOCOMPLETE="OFF" />
	  <button id="addLocation">+</button>
	  
	  <ul class="selectedLocations">
		  @for( location <- uLocations ){
		    <li class="selectedLocation">
		      <span id="loc_@location.getId" >@location.getName</span>
		      <button location="@location.getId" class="removeLocation">x</button>
	      </li>
	    }
    </ul>
	</div>
</div>

<script>
    jQuery(function(){
    	 jQuery('#locationSelector').keypress(function(e) {
   	        if(e.which == 13) {
   	            jQuery(this).blur();
   	            registerLocation(@allLocs);
   	        }
   	    });
       jQuery('#addLocation').live('click', function(){registerLocation(@allLocs)});
       
       jQuery('#locationSelector').typeahead({
         property: "name",
         source: @allLocs,
         itemLabel: "name"
       });
       
       jQuery('.removeLocation').live('click', function(){
    	   removeLocation(jQuery(this).attr('location'));
    	 });
    })
 </script>