body{
    background: url('../img/bg.jpg') 0 0 repeat;
    font-family:'Century Gothic', 'URW Gothic L', 'Gill Sans', Helvetica, sans-serif;
    padding: 0;
}
.txtcenter{
    text-align: center;
}
.txt_right{
    text-align: right;
}
.mupi_container{
        width: 1000px;
        margin: 0 auto;
}
.mini_profile_thumb{
    width: 30px;
    border: 3px solid #E5E5E5;
    float: right;
}
.modal-backdrop {background-color: #fff;}
.container_signup{
    padding-top: 20px;
}
#signup{
    width: 500px;
    padding: 20px;
    margin: 0 auto;
    background: rgba(256, 256, 256, 0.4);
}
#signup form{
    width: 250px;
    margin: 0 auto;
    text-align: left;
}
#signup form #terms_accepted{
    float: left;
    margin-right: 10px;
}
#signup form .help-inline{
    color: #B94A48;
    font-size: 0.8em;
    margin-top: -10px;
    margin-bottom: 10px;
}
#version_tag{
    position: fixed;
    top: 0;
    left: 0;
    background: url('../img/alpha.png') no-repeat;
    width: 65px;
    height: 65px;
    z-index: 100000;
}
/* Footer - Based on sticky footer by Ryan Fait http://ryanfait.com/sticky-foote
r/*/
footer[role="contentinfo"] {
    color: #666;
    background: #f5f5f5;
    padding: 10px 0;
    clear: both; /*BANDUK*/
    position: relative;
}
footer[role="contentinfo"] p {
    margin: 0;
}
/* Sticky Footer styles begin */
html, body {
    height: 100%;
}

footer[role="contentinfo"] {
    height: 34px; /* accounts for padding */
}
body .wrapper {
    min-height: 100%;
    height: auto !important;
    margin: 0 auto -54px;
    width: 100%;
    clear: both;
}

footer .nav {
    margin:0;
}
/* Fotter end */

.img-polaroid{
        background-image: url('../profile/picture/blank.jpg');
}

.mupi_thumbs{
        overflow: hidden;
        border: 5px solid whiteSmoke;
        box-shadow: 0px 0px 5px #888;
}
.mupi_thumbs .fix_img{
        width: 100%;
        height: 100%;
        overflow: hidden;
}
.center{
        text-align: center;
}
.thumbnail{
        padding: 0;
}

/**, .wrapper, .content, body, html {
    height: 100%;
}*/

a[rel="clickover"]{
    color: #666;
}
a[rel="clickover"]:hover{
    color: #D95E21;
    text-decoration: none;
}

.alert{
  padding: 19px 20px;
  box-shadow: 0px 0px 10px #CCC;
  text-align:center;
}