@import com.feth.play.module.pa.views.html._

@main(Messages("mupi.navigation.about.title"),"about") {

<h3>Sobre o Mupi</h3>

<p>Todos ensinam, todos aprendem.</p>

<p>Acreditamos que a interação sempre enriquece o conhecimento e que discussões são parte fundamental para o aprendizado.</p>

<p>Queremos que você aprenda com as pessoas próximas. Queremos que você ensine pessoas próximas. Queremos que vocês se encontrem. Queremos mostrar que momentos de aprendizado são  momentos de lazer!</p>

<p>Nossa plataforma facilita a formação de comunidades locais que sejam referência em assuntos específicos e promovam o aprendizado coletivo. O Mupi é a melhor maneira de se conectar com pessoas que possuam os mesmos interesses que você, sendo que muitas vezes elas estão mais próximas do que você imagina!</p>

<p>Aprendemos algo todos os dias. E você, o que você aprendeu hoje?</p>



<h3>Quem somos</h3>

<p>Uma equipe que acredita no aprendizado coletivo!</p>

<p>Nosso time é formado por ex-alunos da Unicamp, de diferentes áreas, que foram unidos pela vontade de trazer novas ideias para mudar e melhorar os usos da tecnologia no campo da educação.</p>

<p>Ana Rute Mendes: Midiáloga, designer</p>
<p>Mauricio Banduk: Engenheiro de computação</p>
<p>Paula Furtado: Letras, pesquisadora em educação e tecnologia</p>
<p>Virgilio Santos: Engenheiro de computação</p>

<p>Temos uma garagem com mesa, cadeiras, lousa e wifi pronta para receber encontros de gente interessante que quer ensinar e aprender. Basta falar conosco!</p>

}