@(iForm: Form[models.Interest])

@import helper._
@import helper.twitterBootstrap._
@import mupiHelpers._


<div id="suggestInterestModal" class="modal hide" tabindex="-1" role="dialog" aria-hidden="true" aria-labelledby="myModalLabel">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal"  aria-hidden="true">×</button>
		<h3 id="myModalLabel">Suggest a new interest</h3>
	</div>
		@form(routes.Interest.doAddInterest, 'enctype ->"multipart/form-data") {
		  <fieldset>
					<div class="modal-body">
					   <div class="span2">
								@mupiFormInput( 
								   field =iForm("name"),
								   typ ="text",
								   label ="Interest	Name" ) 
								   
								@mupiFormTextArea(
								   field = iForm("description"),
								   label="Description",
								   ('rows, "4"),
								   ('cols, "50") 
								)
		          </div>
		          <div class="span1">
								@mupiFormImageUpload(
								   field=iForm("picture"),
								   "interest/picture/blank_interest.jpg"
							  )
						  </div>
					</div>
				  <div class="modal-footer">
						<input type="submit" value="Salvar" class="btn">
					</div>
				</fieldset>
		}
</div>





