@(
  user: models.User,
  interests: List[models.Interest],
  locations: List[models.Location],
  selectedi: models.Interest = null,
  selectedl: models.Location = null,
  publications: Page[models.Publication],
  promotions: Page[models.Promotion],
  promoteForm: Form[models.Promotion],
  promoteMeetupForm: Form[utils.QueryBinder.MeetUpPromotion],
  hostMeetupForm: Form[utils.QueryBinder.MeetUpHosting]
)

@import com.feth.play.module.pa.views.html._
@import feedHelpers._

@main(Messages("mupi.navigation.feed"),"") {
  @if(user == null){
    <h1>GET OUT!</h1>
  }else{
  <link rel="stylesheet" href="@routes.Assets.at("stylesheets/font-awesome.css")" type="text/css" media="screen"/>
  <link rel="stylesheet" href="@routes.Assets.at("stylesheets/feed.css")" type="text/css" media="screen"/>
  <link href="@routes.Assets.at("stylesheets/jasny-bootstrap.css")" rel="stylesheet" type="text/css" media="screen"/>
 
  <script type="text/javascript" src="@routes.Assets.at("javascripts/jquery.validate.min.js")"></script>
  <script type="text/javascript" src="@routes.Assets.at("javascripts/feed.js")"></script>
  <script type="text/javascript" src="@routes.Assets.at("javascripts/jquery.autosize-min.js")"></script>
  <script type="text/javascript" src="@routes.Assets.at("javascripts/wysihtml5Advanced.js")"></script>
  <script type="text/javascript" src="@routes.Assets.at("javascripts/wysihtml5-0.3.0.js")"></script>
  <script type="text/javascript" src="@routes.Assets.at("javascripts/mupiFileUpload.js")"></script>
    
  <div class="sidebar">
     @if(interests.filter(_.getStatus() > 0).size() > 0){
     <ul class="interestList">
   	    <li @if(selectedi == null || selectedi.getId == -1){class="selected_i"}>
        	<span class="interestIcon all_interests_icon" id="-1">Todos</span>
        </li>
	     @for(interest <- interests.filter(_.getStatus() > 0)) {
	       <li @if(selectedi != null && selectedi.getId == interest.getId){class="selected_i"}>
		       <div id="@interest.getId" class="interestIcon">
		      	    <div class="sidebar_interest mupi_thumbs">
			      	    <div class="fix_img">
			         		<img src="@routes.Mupi.at("/interest/picture/thumb"+interest.getPicture)"/>
			         	</div>
			        </div>
		         	<span>@interest.getName</span>
		       </div>
	       </li>
	     }
	   </ul>
	   }else{
	     @Messages("mupi.feed.noInterests")
	   }
  </div>
  <div id="feed_content">
  @feedContent(locations, interests.filter(_.getStatus() > 0), publications, promotions, selectedi, selectedl, promoteForm, promoteMeetupForm, hostMeetupForm)
  </div>
  }
}