@(
  user: models.User,
  interests: List[models.Interest],
  locations: List[models.Location],
  selectedi: models.Interest = null,
  selectedl: models.Location = null,
  publications: Page[models.Publication],
  promotions: Page[models.Promotion],
  promoteForm: Form[models.Promotion],
  promoteMeetupForm: Form[utils.MeetUpPromotion],
  hostMeetupForm: Form[utils.MeetUpHosting]
)

@import com.feth.play.module.pa.views.html._
@import feedHelpers._

@main(Messages("mupi.navigation.feed"),"") {
  @if(user == null){
    <h1>GET OUT!</h1>
  }else{
  <link rel="stylesheet" href="@routes.Assets.at("css/font-awesome.css")" type="text/css" media="screen"/>
  <link rel="stylesheet" href="@routes.Assets.at("css/feed.css")" type="text/css" media="screen"/>
  <link href="@routes.Assets.at("css/jasny-bootstrap.css")" rel="stylesheet" type="text/css" media="screen"/>
 
  <script type="text/javascript" src="@routes.Assets.at("js/jquery.validate.min.js")"></script>
  <script type="text/javascript" src="@routes.Assets.at("js/feed.js")"></script>
  <script type="text/javascript" src="@routes.Assets.at("js/jquery.autosize-min.js")"></script>
  <script type="text/javascript" src="@routes.Assets.at("js/wysihtml5Advanced.js")"></script>
  <script type="text/javascript" src="@routes.Assets.at("js/wysihtml5-0.3.0.js")"></script>
  <script type="text/javascript" src="@routes.Assets.at("js/mupiFileUpload.js")"></script>
    
  <div class="sidebar">
     @if(user.getProfile.getInterests.size() > 0){
     <ul class="interestList">
   	    <li @if(selectedi == null || selectedi.getId == -1){class="selected_i"}>
        	<span class="interestIcon" id="-1">Todos</span>
        </li>
	     @for(interest <- user.getProfile.getInterests.filter(_.getStatus() > 0)) {
	       <li @if(selectedi != null && selectedi.getId == interest.getId){class="selected_i"}>
		       <div id="@interest.getId" class="interestIcon">
		      	    <div class="sidebar_interest mupi_thumbs">
			      	    <div class="fix_img">
			         		<img src="@routes.Mupi.at("/interest/picture/thumb"+interest.getPicture)"/>
			         	</div>
			        </div>
		         	<span>@interest.getName</span>
		       </div>
	       </li>
	     }
	   </ul>
	   }else{
	     @Messages("mupi.feed.noInterests")
	   }
  </div>
  <div id="feed_content">
    @feedSubmenu(locations, selectedl, selectedi)
    
    <div id="feeds">
      @feedContent(publications, promotions, selectedi, selectedl, promoteForm, promoteMeetupForm, hostMeetupForm)
    </div>
    
  </div>
  }
}