@import com.feth.play.module.pa.views.html._

@main(Messages("mupi.navigation.help.title"),"help") {
<div class="container help">

	<div class="tabbable tabs-left">
      <ul class="nav nav-tabs">
        <li class="active"><a href="#howitworks" data-toggle="tab">Como funciona</a></li>
        <li><a href="#faq" data-toggle="tab">FAQ</a></li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane active" id="howitworks">
	        <h3>Como funciona</h3>
		
			<p>De um jeito muito fácil! </p>
			
			<p>Depois de acessar o Mupi:</p>
			<p>1 - Preencha seu cadastro: queremos conhecer você!</p>
			<p>2- Escolha seus interesses de aprendizado: tudo o que você tem prazer em compartilhar e aprender!</p>
			<p>3 - Escolha suas localizações favoritas: cidades que você quer acompanhar o que está acontecendo relacionado aos seus interesses de aprendizado.</p>
			
			<p>Pronto! Você encontra-se junto às pessoas que optaram pelas mesmas coisas que você. Aproveite para trocar informações, ideias, dúvidas e aprender coletivamente.</p>
			
			<p>Ah! Neste espaço de colaboração, com filtros de interesse e localização, destacamos ainda três pontos:</p>
			<p>- Divulgação de eventos: workshops, congressos, simpósios e tudo o que você nos sugerir.</p>
			<p>- Encontros: organize um encontro para compartilhar o que você conhece. Esse encontro pode ser pago ou gratuito aos inscritos.</p>
			<p>- Lugares para os encontros: ofereça seu espaço para os encontros! Pode ser sala, bar, garagem, etc. Empreste, alugue, participe, colabore.</p>
			
			<p>Vamos aprender juntos!</p>
        </div>
        <div class="tab-pane" id="faq">
	        <h3>FAQ</h3>
		
			<p>Eu quero adicionar mais interesses em minha lista, como faço?</p>
			<p></p>
			<p>Como mudo de cidade?</p>
			<p></p>
			<p>Posso organizar um encontro?</p>
			Sim, todos podem! Basta querer compartilhar um assunto com outras pessoas.</p>
			<p></p>
			<p>Quero marcar um encontro. O que eu faço?</p>
			Envie-nos um e-mail para contato@@mupi.me e vamos organizar isso juntos!</p>
			<p></p>
			<p>Eu posso cobrar para organizar um encontro?</p>
			Sim, você pode. </p>
			<p></p>
			<p>Eu tenho que pagar para usar o Mupi?</p>
			<p>Não.</p>
			<p></p>
			<p>Tenho um espaço e gostaria de alugar ele para encontros. Como eu faço?</p>
			<p>Envie-no um email para contato@@mupi.me e vamos combinar!</p>          
        </div>
      </div>
    </div>

</div>
}