@(loginForm: Form[_], signupForm: Form[_]) 

@import helper._
@import helper.twitterBootstrap._

@main(Messages("playauthenticate.index.title"), "") {
<link href="@routes.Assets.at("stylesheets/landing_page.min.css")" rel="stylesheet">

<div class="second-header">
	<div class="container">
		<div class="row-fluid sobre">
			<div class="span2 offset1">
				<img src="@routes.Assets.at("img/logo.png")" alt="Mupi logo" />
			</div>
			<div class="span7">
				<span class="desc"> @Messages("mupi.index.description") </span>

			</div>
		</div>
	</div>
</div>

<div class="container">
	<div class="row">

		<div class="span8">
			<!-- Content-->

			<div class="row">
				<div class="span8">
					<span class="span8" id="oqueaprendeu">O que você aprendeu hoje?</span>
				</div>
			</div>
			<div class="row">
<!--						<div class="span12 txtcenter">
                    <input type="text" class="input-xxlarge" id="inputAprendi" placeholder="Hoje aprendi que...">
					<button type="submit" id="btn_oqueaprendeu">
						<i class="icon-arrow-right"></i>
					</button>
                </div> -->
			
				<div class="span8">
                                            
				<a class="twitter-timeline" href="https://twitter.com/_hojeaprendi" width="600" height="400" data-widget-id="252067610278105088">:]</a>
				<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
				</div>
			</div>
				
			
	
		</div>
		<div class="span4">
			<!-- Content-->

			<div class="row">
				<div class="span3" id="login_box">
					@* Display proprietary login form *@
			    	@helper.form(routes.Mupi.doLogin) {
			    	
			        @if(loginForm.hasGlobalErrors) { 
			          <p class="error">
			            <span class="label label-important">@loginForm.globalError.message</span>
			          </p>
			        }
			        
			        @_emailPartial(loginForm)
			          
			        @inputPassword(
			          loginForm("password"),
			          '_showConstraints -> false,
			          '_label -> Messages("playauthenticate.login.password.placeholder")
			        )
			        
			        <a href="javascript:void(0);" onclick="window.location.href = jsRoutes.controllers.Signup.forgotPassword($('#email').val() || null).absoluteURL();">@Messages("playauthenticate.login.forgot.password")</a>  

			        <input type="submit" value="@Messages("playauthenticate.login.now")" class="btn">    
			        <br/>
			        <a href="@routes.Mupi.signup"><b>Registre-se!</b></a>   
			
			    	}
				</div>
			</div>
		</div>

	</div>

</div>
}
