@(loginForm: Form[_]) 
@main(Messages("playauthenticate.index.title"), "") {
<link href="@routes.Assets.at("css/landing_page.css")" rel="stylesheet">

<div class="second-header">
	<div class="container">
		<div class="row-fluid sobre">
			<div class="span2 offset1">
				<img src="@routes.Assets.at("img/logo.png")" alt="Mupi logo" />
			</div>
			<div class="span7">
				<span class="desc"> @Messages("mupi.index.description") </span>

			</div>
		</div>
	</div>
</div>

<div class="container">
	<div class="row-fluid">

		<div class="span8">
			<!-- Content-->

			<div class="row-fluid">
				<div class="span12">
					<span class="span12" id="oqueaprendeu">O que você aprendeu hoje?</span>
					<div class="row-fluid">
						<div class="span12 txtcenter">
                            <input type="text" class="input-xxlarge" id="inputAprendi" placeholder="Hoje aprendi que...">
							<button type="submit" id="btn_oqueaprendeu">
								<i class="icon-arrow-right"></i>
							</button>
                        </div>
					</div>
					<div class="row-fluid">
						<div class="span12">
							<table class="table table-striped">
								<tbody>
									<tr>
										<td>aprendi que o veio daqui eh muito chato</td>
									</tr>
									<tr>
										<td>aprendi que bla bla</td>
									</tr>
									<tr>
										<td>aprendi que sou uma ninja do mortal kombat</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
			<div class="row-fluid">
				<div class="span12">Infográfico mupi</div>
			</div>
		</div>
		<div class="span4">
			<!-- Content-->

			<div class="row-fluid">
				<div class="span12">
				CAIXA DE LOGIN
<!-- 					arroba login(loginForm) -->
				</div>
			</div>
		</div>

	</div>

</div>
}
