@(uInterests: List[models.Interest], allInterests: List[models.Interest], iForm: Form[models.Interest])

@import helper._ 
@import helper.twitterBootstrap._
@import mupiHelpers._

@main(Messages("mupi.interestManager.title"),"manager") {
<script type="text/javascript" src="@routes.Assets.at("js/interests-wizard.js")"></script>

<link href="@routes.Assets.at("css/wizard.css")"   rel="stylesheet" type="text/css" media="screen"/>
<link href="@routes.Assets.at("css/interest.css")" rel="stylesheet" type="text/css" media="screen"/>
<link href="@routes.Assets.at("css/jasny-bootstrap.css")" rel="stylesheet" type="text/css" media="screen"/>



  <div class="container">
	  <fieldset>
	     <legend>Escolha seus interesses</legend>
	     
	    
		     <div class="row">
		         <div id="chosen_interests" class="span12">
	             @if(uInterests.size > 0){
	             <h4>Interesses escolhidos</h4>
		             @for(uInterest <- uInterests) {
	                 @if(uInterest.getStatus > 0){
	                   @mupiFormImgCheckbox(uInterest.getId.toString, "interests["+uInterest.getId.toString+"]", uInterest.getName, "interest/picture/medium", uInterest.getPicture, uInterest.getDescription, true)
	                 }
	               }
	             }else{
	               <h4>Você deve escolher ao menos um interesse para usar o Mupi!</h4>
	             }
		         </div>
		     </div>
		     <div class="row">
		         <div id="all_interests" class="span12">
		             <h4>Lista de interesses</h4>
		             <p>Sobre o que você quer aprender? Escolha abaixo os seus interesses:</p>
						@for(interest <- allInterests) {
						  @if(interest.getStatus > 0){
		                    @mupiFormImgCheckbox(interest.getId.toString, "interests["+interest.getId.toString+"]", interest.getName, "interest/picture/medium", interest.getPicture, interest.getDescription)
		                  }
		                }
		         </div>
		     </div>
		     
		     <div class="row">
	          <a id="openModal" href="#suggestInterestModal" role="button" data-toggle="modal">Sugerir interesse</a>
		     </div>
	
	       @addInterest(iForm)
			 
	 </fieldset>
	 
 </div>
 <div style="clear:both"></div>
}