@(uInterests: List[models.Interest], allInterests: List[models.Interest], iForm: Form[models.Interest])

@import helper._ 
@import helper.twitterBootstrap._
@import mupiHelpers._



@main(Messages("mupi.interestManager.title"),"interestManager") {
<script type="text/javascript" src="@routes.Assets.at("js/interests-wizard.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("js/mupiLocation.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("js/mupiFileUpload.js")"></script>

<link href="@routes.Assets.at("css/wizard.css")"   rel="stylesheet" type="text/css" media="screen"/>
<link href="@routes.Assets.at("css/interest.css")" rel="stylesheet" type="text/css" media="screen"/>
<link href="@routes.Assets.at("css/jasny-bootstrap.css")" rel="stylesheet" type="text/css" media="screen"/>



  <div class="container">
	  <fieldset class="step">
	     <legend>Escolha seus interesses</legend>
	     
	    
		     <div class="row">
		         <div id="chosen_interests" class="span12">
		             <h4>Escolhidos</h4>
		             @for(uInterest <- uInterests) {
		                 @mupiFormImgCheckbox(uInterest.id.toString, "interests["+uInterest.id.toString+"]", uInterest.name, uInterest.picture, uInterest.description, true)
		               }
		         </div>
		     </div>
		     <div class="row">
		         <div id="all_interests" class="span12">
		             <h4>Lista de interesses</h4>
								   @for(allInterest <- allInterests) {
		                 @mupiFormImgCheckbox(allInterest.id.toString, "interests["+allInterest.id.toString+"]", allInterest.name, allInterest.picture, allInterest.description)
		               }
		         </div>
		     </div>
		     
		     <div class="row">
	          <a id="openModal" href="#suggestInterestModal" role="button" class="btn" data-toggle="modal">Suggest Interest</a>
		     </div>
	
	       @addInterest(iForm)
			 
	 </fieldset>
 </div>
}