@(title: String, nav: String = "")(content: Html)

@import be.objectify.deadbolt.views.html._
@import be.objectify.deadbolt.Deadbolt
@import mupiHeaders._

<!DOCTYPE html>
<html lang="@lang().code()">
  <head>
    <title>@title</title>
    
    <!-- Le meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Mupi! O que você aprendeu hoje?">
    <meta name="author" content="Matchbox Ideas">
   
    <!-- Le scripts -->
  	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
	  <script src="@routes.Assets.at("js/bootstrap.js")"></script>
	  <script src="@routes.Mupi.jsRoutes" defer="defer"></script>
	
	
    <!-- Le styles -->
    <link href="@routes.Assets.at("stylesheets/main.min.css")" rel="stylesheet">
    <link href="@routes.Assets.at("css/bootstrap.min.css")" rel="stylesheet">
    <link href="@routes.Assets.at("css/font-awesome.css")" rel="stylesheet">
    <link rel="shortcut icon" type="image/png" href=@routes.Assets.at("img/favicon.ico")>
    <link href="@routes.Assets.at("css/mupiMain.css")" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:400,300' rel='stylesheet' type='text/css'>



    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

	  <script type="text/javascript">
		  var _gaq = _gaq || [];
		  _gaq.push(['_setAccount', 'UA-35125468-1']);
		  _gaq.push(['_setDomainName', 'mupi.me']);
		  _gaq.push(['_trackPageview']);
		
		  (function() {
		    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		    ga.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'stats.g.doubleclick.net/dc.js';
		    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		  })();
		</script>

  </head>

  <body>
  
  	<div class="wrapper">
	       @if(Deadbolt.viewRoleHolderPresent()) {
			     @logged_header(nav)
         } else {
           @notLogged_header(nav)
         }
         
     <div id="content">
			  @if(flash.contains(Mupi.FLASH_ERROR_KEY)) {
			    <div class="alert alert-error">
			      @flash().get(Mupi.FLASH_ERROR_KEY)
			    </div>
			  }
			  @if(flash.contains(Mupi.FLASH_MESSAGE_KEY)) {
			    <div class="alert alert-success">
			      @flash().get(Mupi.FLASH_MESSAGE_KEY)
			    </div>
			  }
			  @content
			</div>		
	  </div>
	  
	  <footer role="contentinfo">
	    <div class="container">
	      <ul class="nav nav-pills">
					<li class="@("active".when(nav == "about"))"><a href="@routes.Mupi.about()">@Messages("mupi.navigation.about.title")</a></li>
					<li class="@("active".when(nav == "help"))"><a href="@routes.Mupi.help()">@Messages("mupi.navigation.help.title")</a></li>
					<li class="@("active".when(nav == "privacyPolicies"))"><a href="@routes.Mupi.privacyPolicies()">@Messages("mupi.navigation.privacyPolicies.title")</a></li>
					<li class="@("active".when(nav == "terms"))"><a href="@routes.Mupi.terms()">@Messages("mupi.navigation.terms.title")</a></li>
					<li><a href="http://www.facebook.com/mupi.br" target="blank"><i class="icon-facebook-sign"></i></a></li>
	      </ul>
	    </div>
    </footer>
    
    <script type="text/javascript">
	 var uvOptions = {};
	 (function() {
	   var uv = document.createElement('script'); uv.type = 'text/javascript'; uv.async = true;
	   uv.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'widget.uservoice.com/SFMRfVuMd8YAYizley0crA.js';
	   var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(uv, s);
	 })();
	</script>
	
	<script src="@routes.Assets.at("js/mupiMain.js")"></script>
  </body>
</html>
