
@import com.feth.play.module.pa.views.html._

@main(Messages("mupi.navigation.privacyPolicies.title"),"privacyPolicies") {
      <div class="container">
      	<h1><i class="icon-file"></i> Política de privacidade</h1>
      	<h2>O que coletamos</h2>
 
		<p>Coletamos informações a fim de fornecer serviços melhores a todos nossos usuários – desde informações básicas, como o idioma que você fala, até coisas mais complexas, como os anúncios que você achará mais úteis ou as pessoas on-line que são mais importantes para você.
		Coletamos informações de duas maneiras:</p>
		 
		<ol>
			<li><b>Informações fornecidas por você.</b> Por exemplo, durante a criação do Perfil do Mupi.</li>
			<li><b>Informações que pedimos a partir do uso que você faz de nossos serviços.</b> Podemos coletar informações sobre os serviços que você usa e como os usa, como quando você visita um website que utiliza nossos serviços de publicidade ou quando você vê e interage com nossos anúncios e conteúdo. Essas informações incluem:
				<ol>
					<li><b>Informações do dispositivo</b><br>
						Podemos coletar informações específicas do dispositivo (como seu modelo de hardware, versão do sistema operacional, identificadores exclusivos de produtos e informações de rede móvel, inclusive número de telefone). O Mupi pode associar seus identificadores de dispositivo ou número de telefone com sua Conta do Mupi.</li>
					<li><b>Informações de registro</b><br>
		                Quando você usa nossos serviços ou visualiza conteúdo fornecido pelo Mupi, podemos coletar e armazenar automaticamente determinadas informações em registros do servidor. Isso pode incluir:
						<ol>
							<li>Detalhes de como você usou nosso serviço, como suas consultas de pesquisa.</li>
							<li>Endereço de protocolo de Internet.</li>	
							<li>Informações de evento de dispositivo como problemas, atividade de sistema, configurações de hardware, tipo de navegador, idioma do navegador, data e horário de sua solicitação e URL de referência.</li>
							<li> Cookies que podem identificar exclusivamente seu navegador.</li>
						</ol>
					</li>
					<li><b>Informações do local</b><br>
					Quando você usa um serviço do Mupi capaz de identificar a sua localização, podemos coletar e processar informações sobre sua localização real, como sinais de GPS enviados por um dispositivo móvel. Além disso, podemos usar várias tecnologias para determinar o local, como dados de sensor de seu dispositivo que podem, por exemplo, fornecer informações sobre pontos próximos de acesso Wi-Fi e torres de celular.
					</li>
				</ol>
			</li>	
		</ol>
		<h2>Como usamos as informações que coletamos</h2>
		<p>Usamos as informações que coletamos em todos nossos serviços para fornecer, manter, proteger e melhorar esses serviços, desenvolver novos e proteger o Mupi e nossos usuários.</p>
		<p>Também usamos essas informações para oferecer a você um conteúdo específico – como fornecer para você resultados mais relevantes de pesquisa e anúncios. Podemos usar seu endereço de e-mail para informá-lo sobre nossos serviços, como aviso sobre as próximas mudanças ou melhorias. Usamos as informações coletadas de cookies e de outras tecnologias para melhorar a experiência de usuário e a qualidade geral de nossos serviços.</p>
		<p>Solicitaremos sua autorização antes de usar informações para outros fins que não os definidos nesta Política de Privacidade.</p>
		
		<h2>Informações que compartilhamos</h2>
		<p>Não compartilhamos informações pessoais com empresas, organizações e indivíduos externos ao Mupi, salvo em uma das seguintes circunstâncias:</p>
		
		<ol>
			<li><b>Com sua autorização</b><br>
		Compartilharemos informações pessoais com empresas, organizações ou indivíduos externos ao Mupi quando tivermos sua prévia e expressa autorização para isso. </li>
			<li><b>Para processamento externo</b><br>
		Fornecemos informações pessoais a outras empresas ou pessoas confiáveis para processá-las para nós, com base em nossas instruções e em conformidade com nossa Política de Privacidade e quaisquer outras medidas de segurança e de confidencialidade adequadas.
		 </li>
			<li><b>Por motivos legais</b><br>
		Compartilharemos, sem a necessidade de prévia autorização, informações pessoais com empresas, organizações ou indivíduos externos ao Mupi se acreditarmos, de boa-fé, que o acesso, uso, conservação ou divulgação das informações seja razoavelmente necessário para:
				<ol>
					<li>Cumprir qualquer legislação, regulamentação, processo legal ou solicitação governamental aplicável.</li>
					<li>Cumprir Termos de Uso aplicáveis, inclusive investigação de possíveis violações.</li>
					<li>Detectar, impedir ou abordar de alguma outra forma fraude, questões técnicas ou de segurança.</li>
					<li>Proteger contra dano aos direitos, a propriedade ou a segurança do Mupi, nossos usuários ou o público, conforme solicitado ou permitido por lei.</li>
				</ol>
			</li>	
		</ol>
		<h2>Alterações</h2>
		<p>Nossa Política de Privacidade pode ser alterada de tempos em tempos. Nós não reduziremos seus direitos nesta Política de Privacidade sem seu consentimento explícito. Publicaremos quaisquer alterações da política de privacidade nesta página e usar os serviços do Mupi estabelece concordância com os termos.</p>
      </div>
}