@(profileForm: Form[models.Profile], 
  p: models.Profile,
  allLocations: List[models.Location]
) 

@import helper._ 
@import helper.twitterBootstrap._
@import mupiHelpers._



@main(Messages("playauthenticate.profile.title"),"profile") {
  <!-- TODO: TIRAR ESSE CSS DAQUI!! AS PROPRIEDADES DO FORM TÊM QUE ESTAR NUM CSS GERAL!! -->
  <link href="@routes.Assets.at("css/jasny-bootstrap.css")" rel="stylesheet" type="text/css" media="screen"/>
	<link rel="stylesheet" href="@routes.Assets.at("css/wizard.css")" type="text/css" media="screen"/>

  <script type="text/javascript" src="@routes.Assets.at("js/mupiLocation.js")"></script>
  <script type="text/javascript"  src="@routes.Assets.at("js/extended-bootstrapTypeahead.js")"></script>
  <script type="text/javascript" src="@routes.Assets.at("js/bootstrap-inputmask.js")"></script>
  <script type="text/javascript" src="@routes.Assets.at("js/mupiFileUpload.js")"></script>
  
  
  
	<script type="text/javascript">
	  jQuery('.inputmask').inputmask();
	</script>

  <div class="container" id="content" >
    <div id="steps">
    
      
    
      @form(routes.Profile.doProfile, 'enctype -> "multipart/form-data") {
      
        <fieldset class="step">
          
          @mupiFormImageUpload(field=profileForm("picture"), "profile/picture", "/blank_profile.jpg")
          
          <div class="span5">
          
          
            @mupiFormInput(
		          field=profileForm("firstName"),
		          typ="text",
		          label="First Name"
		        )
		        
		        @mupiFormInput(
		          field=profileForm("lastName"),
		          typ="text",
		          label="Last Name"
		        )

		        @mupiFormTextArea(
		          field=profileForm("about"),
		          label="About",
		          ('rows, "4"),
		          ('cols, "50")
		        )
                        
            @mupiFormSelect(
              field=profileForm("gender"),
              label="Gender",
              (0," "),
              (1,"Feminino"),
              (2,"Masculino"),
              (3,"Outro")
            )
            
            @mupiFormMaskedInput(
              field=profileForm("birthDate"),
              label="Birth date",
              mask="99/99/9999"              
            )
            
            
          </div>
          </fieldset>

		    <input type="submit" value="@Messages("mupi.profile.update")" class="btn">
      }
            
    </div>
    
    @mupiFormAutoCompleteInput(
        field=profileForm("locations"),
        label="Locations",
        uLocations=p.locations,
        locations=allLocations
      )
  </div>
<ul>
  <li><a href="@routes.Account.changePassword">@Messages("playauthenticate.profile.password_change")</a></li>
</ul>
}
		
