@(profileForm: Form[models.Profile], 
  p: models.Profile,
  allLocations: List[models.Location]
) 

@import helper._ 
@import helper.twitterBootstrap._
@import mupiHelpers._



@main(Messages("playauthenticate.profile.title"),"profile") {
  <!-- TODO: TIRAR ESSE CSS DAQUI!! AS PROPRIEDADES DO FORM TÊM QUE ESTAR NUM CSS GERAL!! -->
  <link href="@routes.Assets.at("stylesheets/jasny-bootstrap.css")" rel="stylesheet" type="text/css" media="screen"/>
  <link rel="stylesheet" href="@routes.Assets.at("stylesheets/wizard.css")" type="text/css" media="screen"/>
  <link rel="stylesheet" href="@routes.Assets.at("stylesheets/profile.css")" type="text/css" media="screen"/>
  <link rel="stylesheet" href="@routes.Assets.at("stylesheets/mupiForm.css")" type="text/css" media="screen"/>

  <script type="text/javascript" src="@routes.Assets.at("javascripts/mupiLocation.js")"></script>
  <script type="text/javascript" src="@routes.Assets.at("javascripts/extended-bootstrapTypeahead.js")"></script>
  <script type="text/javascript" src="@routes.Assets.at("javascripts/bootstrap-inputmask.js")"></script>
  <script type="text/javascript" src="@routes.Assets.at("javascripts/mupiFileUpload.js")"></script>
  <script type="text/javascript" src="@routes.Assets.at("javascripts/jquery.validate.min.js")"></script>
  <script type="text/javascript" src="@routes.Assets.at("javascripts/profile.min.js")"></script>
  
	<script type="text/javascript">
	  jQuery('.inputmask').inputmask();
	</script>

  <div id="profile_body">
          
    <div class="container_profile" onload="validator()">
      @form(routes.Profile.doProfile, 'enctype -> "multipart/form-data", 'id -> "profileForm") {
          
          <div class="profile_img">
          	@mupiFormImageUpload(field=profileForm("picture"), "profile/picture/medium", "/blank_profile.jpg")
			
			<a href="@routes.Account.changePassword">@Messages("playauthenticate.profile.password_change")</a>
			
          </div>
          <div class="profile_form">
          
          
            @mupiFormInput(
		          field=profileForm("firstName"),
		          typ="text",
		          label="Primeiro nome *"
		        )
		        
		        @mupiFormInput(
		          field=profileForm("lastName"),
		          typ="text",
		          label="Sobrenome"
		        )

		        @mupiFormTextArea(
		          field=profileForm("about"),
		          label="Sobre você",
		          ('rows, "4"),
		          ('cols, "50")
		        )
                        
            @mupiFormSelect(
              field=profileForm("gender"),
              label="Gênero",
              (0," "),
              (1,"Feminino"),
              (2,"Masculino"),
              (3,"Outro")
            )
            
            @mupiFormMaskedInput(
              field=profileForm("birthDate"),
              label="Data de nascimento",
              mask="99/99/9999"              
            )
            
	    
	    @if(p.getStatus == conf.MupiParams.FIRST_LOGIN){
		<input type="submit" value="Avançar" class="btn btn-primary btn_submitprofile">
	    }else{
		<input type="submit" value="@Messages("mupi.profile.update")" class="btn btn-primary">
	    }
 
            
          </div>

		    
      }
            
     <div class="locations">
	    @mupiFormAutoCompleteInput(
	      field=profileForm("locations"),
	      label="Insira as cidades de onde deseja receber atualizações",
	      uLocations=p.getLocations,
	      locations=allLocations
		)
    </div>
  </div>
</div>


}
		
