@(promotion : models.Promotion)

@import com.feth.play.module.pa.views.html._
@import collection.JavaConverters._
@import be.objectify.deadbolt.views.html._
@import be.objectify.deadbolt.Deadbolt
@import mupiHelpers._

@promPic = @{"event/picture" + promotion.getPicture}

@main(promotion.getTitle,"promotion") {
<div id="fb-root"></div>
<script>(function(d, s, id) {
 var js, fjs = d.getElementsByTagName(s)[0];
 if (d.getElementById(id)) return;
 js = d.createElement(s); js.id = id;
 js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
 fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<link rel="stylesheet" href="@routes.Assets.at("stylesheets/promotion.css")" type="text/css" media="screen"/>
<script type="text/javascript" src="@routes.Assets.at("javascripts/jquery.autosize-min.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("javascripts/promotion.js")"></script>
<script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>

<input type="hidden" id="selectedInterest" value="@promotion.getPublication.getInterest.getId"/>
<input type="hidden" id="selectedLocation" value="@promotion.getPublication.getLocation.getId"/>


<div class="container" id="event_body">
	<div class="row">
		<div id="promotion_header" class="span10 offset1">
			<div id="promotion_img"><img src="@routes.Mupi.at(promPic)"/></div>
			<h1>@promotion.getTitle</h1>
			<div id="promotion_date">
				<span class="pday">@promotion.getDate.format("dd")</span>
				<span class="pmonth">@promotion.getDate.format("MMM")</span>
			</div>
			<div id="promotion_complete_date">
				<i class="icon-calendar"></i>
				<span>@promotion.getDate.format("dd") de @promotion.getDate.format("MMMM"), @promotion.getDate.format("d") às @promotion.getDate.format("HH")h@promotion.getDate.format("mm")  </span>
			</div>
			<div id="promotion_local">
				<i class="icon-map-marker"></i>
				<span id="address_val">@promotion.getAddress</span>
				<div id="promotion_map">Não há um mapa para esta localidade</div>
			</div>
			<div id="promotion_link">
				<i class="icon-external-link"></i>
				<a class="external_link" target="_blank" href="@promotion.getLink">Link externo</a>
			</div>	
			<div class="fb-like" data-href="javascript:document.write(window.location.href)" data-send="true" data-layout="button_count" data-width="450" data-show-faces="false"></div>	
		</div>
	</div>
	<div class="row">
		<div class="span10 offset1 white_background">
			<div id="promotion_body">
				<div id="promotion_promoter">
					<label>Promovido por</label>
					<span>@promotion.getPublication.getProfile.getFirstName @promotion.getPublication.getProfile.getLastName</span>
				</div>
				<div id="promotion_description">
					<p>
						<span>@promotion.getDate.format("dd") de @promotion.getDate.format("MMMM"), @promotion.getDate.format("d") às @promotion.getDate.format("HH")h@promotion.getDate.format("mm")  </span><br/>
						<span>@promotion.getAddress</span>
					</p>
					<label>Sobre o evento</label>
					<p>
					@promotion.getDescription
					</p>
				</div>
			</div>	
		</div>
	</div>
	<div class="row">
	
	   <div id="promotion_comments" class="span6 offset3">
	     @if(Deadbolt.viewRoleHolderPresent()) {
				<div  class="textarea_comment">
					  <textarea id="textToSend" name="input_comment" placeholder="Comentar"></textarea>
					  <div class="btns_comment">
					   <a href="#" id="sendComent" class="commentPub sendComent"  publication="@promotion.getPublication.id">
					     <div class="enter_comment">Comentar</div>
					   </a>
					  </div>
				</div>
			}
			<span>@promotion.getPublication.getComments.size comentários</span>
			<div id="comments" id="comments_@promotion.getPublication.id">
        @comments(promotion.getPublication.getComments.asScala.sortBy(_.getCreated).reverse)
	    </div>
		</div>
	</div>
</div>
}