@(publication : models.Publication)

@import com.feth.play.module.pa.views.html._
@import collection.JavaConverters._
@import be.objectify.deadbolt.views.html._
@import be.objectify.deadbolt.Deadbolt
@import mupiHelpers._

@publisherPic = @{"profile/picture/thumb" + publication.getProfile.getPicture}
@title = @{"Mupi - publicação de " + publication.getProfile.getFirstName + " " + publication.getProfile.getLastName}

@main( title,"") {

<link rel="stylesheet" href="@routes.Assets.at("stylesheets/publication.css")" type="text/css" media="screen"/>
<script type="text/javascript" src="@routes.Assets.at("javascripts/publication.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("javascripts/jquery.autosize-min.js")"></script>

<input type="hidden" id="selectedInterest" value="@publication.getInterest.getId"/>
<input type="hidden" id="selectedLocation" value="@publication.getLocation.getId"/>

<div class="body_container">
	<div id="pub_container">
		<div class="publication" pub_id="@publication.getId">
			  <div class="pub_header">
				  <p>
				  	por <a href="#" rel="clickover" data-placement="bottom"
                        data-content="<div class='mini_profile_thumb profile_thumb'>
                        <div class='fix_img'>
                                <img src='@routes.Mupi.at(publisherPic)' />
                         </div>
                        </div>
                        <small>Contribui desde @publication.getProfile.getCreated.format("dd/MM/yy")</small>
                        @if(!publication.getProfile.getAbout.isEmpty()){<p>&quot;@publication.getProfile.getAbout&quot;</p>}
                        <p><small><b>@publication.getProfile.getPublications.size()</b> publicações<br/>
                        <b>@publication.getProfile.getPubComments.size()</b> comentários</small></p>"
                        data-original-title="@publication.getProfile.getFirstName @publication.getProfile.getLastName">
                            <span class="publisher_name">@publication.getProfile.getFirstName @publication.getProfile.getLastName</span>
                        </a>
					<span class="pub_date">@publication.getCreated.format("dd/MMM - HH:mm")</span>
				    <span class="pub_loc"><i class="icon-map-marker"></i> @publication.getLocation.getName</span>	
				    <span class="pub_int"><i class="icon-star"></i> @publication.getInterest.getName</span>
				  </p>
			  </div>
			  <div class="profile-thumb mupi_thumbs">
				  <div class="fix_img">
				    <img src="@routes.Mupi.at(publisherPic)" />
				  </div>
			  </div>
			  <i class="icon-caret-left caret_publication"></i>
			  <div class="publication_body">
				  <p>@Html(publication.getBody)</p>
			  </div>

			  <ul class="pub_interact">
			    <li class="comment_lnk" comments="comments_@publication.getId">
			      <i class="icon-comments-alt"></i>@publication.getComments.size() Comentários
			    </li>
			  </ul>

			  <div id="comments">
			    @comments(publication.getComments.asScala.sortBy(_.getCreated))
			  </div>

				@if(Deadbolt.viewRoleHolderPresent()) {
				<div class="textarea_comment">
				    <textarea name="input_comment" placeholder="Comentar"></textarea>
				    <div class="btns_comment">
					    <a href="#" class="commentPub" id="sendComment" publication="@publication.getId">
					      <div class="enter_comment">Comentar</div>
					    </a>
				    </div>
				  </div>
				} else{
					<p class="txtcenter"><a href="@routes.Mupi.signup">Registre-se</a> ou <a href="@routes.Feed.feed()">faça login</a> para postar um comentário.</p>
				}
			  
		</div>
	</div>
</div>
}