@(signupForm: Form[_])

@import helper._
@import helper.twitterBootstrap._
@import mupiHelpers._
             
@main(Messages("playauthenticate.signup.title"),"signup") {
<div class="mupi_container container_signup">
  <div id="signup">
      <h1 class="txtcenter">@Messages("playauthenticate.signup.title")</h1>
      @* Display proprietary login form *@
    	@helper.form(routes.Mupi.doSignup) {
    	
        @if(signupForm.hasGlobalErrors) { 
            <p class="error">
              <span class="label label-important">@signupForm.globalError.message</span>
            </p>
        }
        
        @inputText(
           signupForm("name"),
           '_label -> Messages("playauthenticate.signup.name")
        )
         
         @_emailPartial(signupForm)
         
         @_passwordPartial(signupForm)


        <div class="clearfix terms_acceptance ">
          <div class="input">
            <input type="checkbox" name='@signupForm("terms_accepted").name' id='@signupForm("terms_accepted").name' value="true">
            <label for='@signupForm("terms_accepted").name'>Li e aceito os <a target='_blank' href="@routes.Mupi.terms()"> @Messages("mupi.navigation.terms.title") </a></label>
          </div>
        </div>
        

        <input type="submit" value="@Messages("playauthenticate.signup.now")" class="btn btn-primary">
    	}
    </div>
    
    @*
    <div class="span3">
        @Messages("playauthenticate.signup.oauth")
        @_providerPartial(skipCurrent=false)
    </div>
    *@
    
  </div>
}
