
@import com.feth.play.module.pa.views.html._

@main(Messages("mupi.navigation.terms.title"),"terms") {
<div class="mupi_container">
	<h1><i class="icon-legal"></i> Termos de uso</h1>
	
	<p>Última modificação: 27 de setembro de 2012.</p>
	 
	<p>Bem-vindo ao Mupi!<br>
	Agradecemos por usar o Mupi. Ao usar nossos serviços, você está concordando com estes termos. Leia-os com atenção.</p>
	 
	<ol>
		<li>No presente termo, caracteriza-se o "Mupi" como software, criado e gerenciado pela Matchbox Ideas – Ensino a Distância Ltda, facilitador de encontro entre pessoas, proposição, publicação, divulgação e apoio a organização de encontros de aprendizagem. A utilização do Mupi não visa à prestação de curadoria dos envolvidos, nem é responsável pela realização e qualidade dos encontros programados por seus usuários, compreendendo, entre outros, disponibilização de estrutura física, participantes, materiais, conteúdo, ou quaisquer outros itens relacionados aos encontros que ultrapassem a plataforma online.</li><br>
		<li>Sobre o registro
			<ol>
				<li>Qualquer pessoa que tenha atingido a maioridade civil nos termos da lei pode utilizar os serviços disponibilizados pela plataforma do Mupi. NÃO É AUTORIZADA a participação de usuários menores de dezoito anos de idade. Caso seja verificada eventual infração desta disposição, o Mupi cancelará, de imediato, o cadastro do usuário.</li>
				<li>O usuário é o único responsável pela proteção e sigilo de seu nome de usuário e senha. É por meio desses dados que o usuário pode acessar e alterar suas informações pessoais e outros dados de seu cadastro.</li>
				<li>Caso haja qualquer suspeita de uso indevido ou não autorizado de sua conta, o usuário deve notificar imediatamente a Matchbox pelo e-mail contato @@ mupi . me.</li>
				<li>Ao efetuar seu cadastro, o USUÁRIO concorda em:<br>
					 <ol>
						<li>Fornecer informações verdadeiras, exatas, atuais e completas quando for realizar seu cadastro para acesso ao site;</li>
						<li>Conservar e atualizar suas informações de forma a mantê-las verdadeiras, exatas, atuais e completas;</li>
						<li>Ser responsabilizado por qualquer informação falsa, incorreta, desatualizada ou incompleta fornecida. Caso a Matchbox tenha razões suficientes para suspeitar da veracidade e/ou da exatidão de tais informações, terá o direito de suspender ou cancelar, imediatamente e independente de notificação, a conta do usuário.</li>
					 </ol>
				</li>
				<li>O usuário concorda que ao clicar em “Concordo”, “de acordo”, “li e aceito” ou qualquer outro “botão” similar, o seu consentimento ou acordo será considerado legalmente obrigatório e exequível sendo, portanto, equivalente à assinatura por escrito do usuário.</li>
			</ol>
		</li><br>	
		<li>Como utilizar os serviços
			<ol>
				<li>É preciso que o usuário siga a todas as políticas disponibilizadas a ele pela plataforma.</li>
				<li>Você pode usar nossos serviços somente conforme permitido pelas leis e regulamentos incluindo as de controle de exportação e reexportação. 
				Podemos suspender, deixar de fornecer nossos serviços ou apagar conteúdos se você descumprir nossos termos ou políticas ou se estivermos 
				investigando casos de suspeita de má conduta, independentemente de notificação, bem como denunciá-lo, nos termos da legislação aplicável. 
				Você concorda que não praticará atos contrários à proposta da plataforma, incluindo, mas não se limitando a: (a) promover, arquivar ou 
				transmitir mensagens, correntes ou propagandas indesejáveis e não solicitadas; (b) disseminar ou transmitir materiais que aos olhos de uma 
				pessoa normal sejam abusivos, obscenos, pornográficos, difamatórios, constrangedores, ofensivos, vulgares, manipuladores ou maliciosos; 
				(c) disseminar, arquivar ou transmitir gráficos, softwares ou outro conteúdo que atualmente ou potencialmente infrinja a propriedade industrial e intelectual de terceiro; 
				(d) criar uma identidade falsa visando a enganar outra pessoa ou impedir a identificação de qualquer comunicação; (e) exportar, re-exportar ou permitir o download de qualquer mensagem ou conteúdo que viole qualquer lei de exportação e importação; (f) interferir, corromper ou tentar ter acesso não autorizado a outras contas na plataforma ou a partir de qualquer outra rede de computador; (g) disseminar, arquivar ou transmitir vírus cavalos de tróia ou qualquer outro código ou programa malicioso; (h) praticar qualquer outra ação que seja contrária à proposta e objetivo da plataforma e dos serviços por ela promovidos; (i)  interferir na plataforma ou tentar acessá-la por um método diferente da interface e das instruções fornecidas.</li>
				<li>Você concorda em não utilizar a plataforma online e os serviços de forma a prejudicar outro usuário ou infringir seus direitos.</li>
				<li>Todo o conteúdo da plataforma online, incluindo texto, dados, imagens, vídeos, design, entre outros, está sob licença Creative Commons – Atribuição – Não Comercial – Compartilha igual 3.0 Não Adaptada. Os usuários concordam que todo o conteúdo postado na plataforma estará protegido e submetido aos termos da mesma licença Creative Commons. Maiores informações acerca das licenças estão disponibilizadas em <a href="http://creativecommons.org.br/as-licencas/">http://creativecommons.org.br/as-licencas/</a>.</li>
				<li>Todo o conteúdo da plataforma poderá ser reproduzido e remixado desde que feitas as devidas atribuições, nos seguinte formato: De [usuário/autor] disponível em www.mupi.me.</li>
				<li>Não nos responsabilizamos pelos termos de uso e privacidade de ambientes que sejam citados em links no Mupi. Os conteúdos que não foram publicados pela Matchbox, através do Mupi são de exclusiva responsabilidade da entidade que os disponibiliza. Não nos responsabilizamos pelos termos de uso e privacidade também destes ambientes.</li>
				<li>A Matchbox reserva-se o direito de monitorar todas as atividades e ações feitas pelos usuários no Mupi bem como de, a seu exclusivo critério, tomar qualquer ação necessária para proteger a plataforma Mupi de qualquer uso que não seja autorizado. Podemos revisar conteúdo para determinar se é ilegal ou se infringe nossas políticas bem como podemos remover ou nos recusar a exibir conteúdos que razoavelmente acreditamos violar nossas políticas ou a lei. Mas isso não significa, necessariamente, que revisaremos conteúdos, portanto por favor, não presuma que o faremos, ficando, portanto, desde já entendido que a Matchbox refuta qualquer responsabilidade relacionada ao conteúdo de qualquer postagem e comunicação, ainda que esta seja ou não originada da legislação vigente.</li>
				<li>Qualquer informação ou conteúdo postado online, incluindo avisos e opiniões, são de exclusiva responsabilidade dos usuários que as emitiram e não necessariamente representam o entendimento da Matchbox. A Matchbox reserva-se o direito de encerrar os serviços a qualquer momento, totalmente ou para somente um(uns) usuário(s) em particular a seu exclusivo critério.</li>
				<li>São exemplos de comunicações e postagens EXPRESSAMENTE vedadas no Mupi: linguagem obscena e ofensiva, comentários difamatórios a respeito de qualquer pessoa ou empresa, indução ou apologia a qualquer ato que seja considerado crime nos termos da legislação vigente. Se você se sentir ofendido por qualquer postagem ou comunicação por favor entre em contato com contato @@ mupi . me.</li>
				<li>Com exceção de informações pessoais prestadas, a Matchbox não garante a confidencialidade do conteúdo postado por você, publicados ou não. Você desde já permite a Matchbox a utilizar, reproduzir, distribuir, transmitir, publicar e dispor do conteúdo postado, relacionando-o, inclusive, com o seu nome. Tais conteúdos serão utilizados, principalmente, em materiais publicitários e comunicações relacionados à plataforma online.</li>
				<li>Pede-se, no entanto, muito cuidado na publicação de dados pessoais nos veículos públicos do Mupi, como por exemplo os campos de comentários. Todo material postado pelos usuários nas vias públicas do Mupi são de sua exclusiva e inteira responsabilidade.</li>
				<li>A Matchbox reserva-se os direitos de remover e de se recusar a veicular qualquer conteúdo dos usuários.</li>
				<li>A Matchbox reserva-se o direito de acessar, ler, preservar e divulgar quaisquer informações necessárias para cumprir este contrato, obedecer disposições legais ou atender a ordens judiciais.</li>
				<li>Se você envia alguma informação ao Mupi, você imediatamente garante à Matchbox o direito de ler e utilizar as comunicações na medida e formas que esta julga serem apropriadas. Você está devidamente comunicado de que nenhuma ferramenta para envio ou recebimento de informações confidenciais é disponibilizada pelo presente website.</li>
			</ol>
		</li><br>	
		<li>Sobre a autorização de uso dos serviços disponibilizados pelo Mupi
			<ol>
				<li>A Matchbox garante a você uma licença pessoal, global, não exclusiva, intransferível e isenta de royalties para o uso do software fornecido pelo Mupi como parte dos serviços. Essa licença tem como único objetivo permitir que você use e aproveite o benefício dos serviços, tal como os fornecidos pelo Mupi, da forma permitida por estes termos. Você não poderá copiar, modificar, distribuir, vender ou alugar qualquer parte de nossos serviços ou o software incluso, nem poderá fazer engenharia reversa ou tentar extrair o código fonte desse software, exceto nos casos em que a legislação proibir tais restrições, ou quando você tiver nossa prévia permissão por escrito.</li>
				<li>A Matchbox reserva-se o direito a revogar a licença acima a qualquer momento e a seu exclusive critério.</li>
			</ol>
		</li><br>
		<li>Como modificar e cancelar nossos serviços
			<ol>
				<li>Estamos constantemente a alterar e a melhorar os nossos serviços. Podemos adicionar ou remover funcionalidades ou características, bem como suspender ou parar totalmente um Serviço sem a necessidade de emitir prévia comunicação ou notificação.</li>
				<li>O usuário pode deixar de utilizar os serviços a qualquer momento. A Matchbox pode ainda deixar de fornecer os serviços ao usuário ou adicionar ou criar novos limites aos serviços em qualquer momento sem a necessidade de prévia comunicação.</li>
				<li>Acreditamos que os seus dados lhe pertencem e que preservar o acesso a esses dados é importante. Caso descontinuemos um serviço poderemos avisar os usuários com uma antecedência razoável a fim de dar-lhes a oportunidade para obterem informações fora desse serviço bem como para salvar os conteúdos. O usuário concorda que todas as comunicações feitas eletronicamente satisfazem eventual requerimento legal de que tal comunicação deve ser feita por escrito.</li>
			</ol>
		</li><br>
		<li>Responsabilidade pelos nossos serviços
			<ol>
				<li>De forma alguma a Matchbox será responsável por quaisquer danos que, de qualquer forma, seja originado ou relacionado a presente plataforma, por qualquer outra administrada por terceiros ou por qualquer informação contida na presente plataforma ou em qualquer outra. Incluindo, mas não se limitando a danos diretos, indiretos, acidentais, consequentes ou punitivo que abrangem mas não se limitam a perda de dados, de receita ou de lucro, ainda que a Matchbox tenha tido o conhecimento de tal dano.  </li>
				<li>Em todos os casos, o Mupi e seus fornecedores e distribuidores não serão responsáveis por qualquer perda ou dano que não seja razoavelmente previsível.</li>
				<li>A Matchbox não garante que o acesso ao Mupi será ininterrupto, que estará imune a qualquer tipo de vírus ou que não poderá ser alterado ou hackeado por terceiros.</li>
			</ol>
		</li><br>
		<li>Sobre estes Termos
			<ol>
				<li>O presente Termo de Uso se aplica a todos os usuários, tanto àqueles cadastrados quanto àqueles que apenas visualizam seu conteúdo e navegam pela plataforma online.</li>
				<li>Podemos modificar estes termos ou quaisquer termos adicionais que sejam aplicáveis a um Serviço para, por exemplo, refletir alterações da lei ou mudanças em nossos serviços. Você deve consultar os termos regularmente. Postaremos avisos sobre modificações nesses termos nesta página. As alterações não serão aplicadas retroativamente e entrarão em vigor no momento de sua publicação.</li>
				<li>Alterações a respeito de novas funcionalidades de um Serviço ou alterações feitas por razões legais entrarão em vigor imediatamente. Se você não concordar com os termos alterados de um Serviço, deve descontinuar o uso desse Serviço. Em caso de conflito entre os presentes termos de utilização e os termos de utilização adicionais, estes últimos prevalecem sobre os primeiros.</li>
				<li>A Matchbox poderá terminar, modificar, suspender ou descontinuar qualquer parte do Mupi, incluindo a disponibilidade de qualquer de seus recursos, a qualquer tempo. A Matchbox poderá ainda impor limites a certos recursos e serviços ou restringir o acesso do usuário a partes ou a totalidade da plataforma sem a necessidade de prévia comunicação ou sem que isso implique na assunção de qualquer responsabilidade. A Matchbox poderá encerrar qualquer autorização, direito ou licença garantida acima.</li>
				<li>Os presentes termos de utilização controlam a utilização do Mupi por seu usuário, no caso você, não criando quaisquer direitos a terceiros. Caso você não cumpra estes termos e nós não tomemos providências imediatas, isso não significa que estamos renunciando a quaisquer direitos que possamos ter (como tomar providências futuras). Caso uma condição específica destes termos não seja exequível, isso não prejudicará quaisquer outros termos.</li>
			</ol>
		</li><br>
		<li>Lei aplicável
			Estes termos de serviço são regidos única e exclusivamente pelas leis brasileiras, sendo que qualquer ação judicial derivada de sua interpretação ou aplicação deverá ser submetida ao foro da comarca da cidade de Campinas, Estado de São Paulo com exclusão de qualquer outro, por mais privilegiado que seja. Em caso de conflito de leis estaduais ou municipais, para a interpretação de qualquer dúvida ou litígio, deverá sempre prevalecer a legislação do Estado de São Paulo.</li><br>
		<li>Contato
			Para obter informações sobre como entrar em contato com o Mupi, favor envie um e-mail a contato @@ mupi . me.</li>
	</ol>
</div>
}