@(nav: String = "")

@import be.objectify.deadbolt.views.html._
@import be.objectify.deadbolt.Deadbolt
@import org.jsoup._

@localUser = @{Mupi.getLocalUser(session())}
@nBucket   = @{models.NotificationBucket.getBucket(localUser.profile)}

<link href="@routes.Assets.at("stylesheets/logged_header.css")" rel="stylesheet">

<script type="text/javascript" src="@routes.Assets.at("javascripts/notifications.js")"></script>

@if(localUser.status == 0){
	<div class"navbar-fixed-top">
	  @Html(Messages("mupi.email.notVerified", localUser.email))
	</div>
}

<div class="mupi-navbar navbar-fixed-top">
	<div id ="menu_user" class="pull-right">
		<a href="@routes.Feed.resetFeed()" title="Ir para publicações">
			<i class="icon-home"></i>
		</a>
		<a href="#" id="open_notifications" title="Notificações">
			<i class="icon-comments" class="hide"></i>
			@if(!nBucket.isEmpty){
				<div id="notification_popup">@nBucket.size()</div>
			}
		</a>
		<a href="@routes.Profile.profile()" title="Meu perfil">
			<i class="icon-user"></i>
		</a>
		<a href="@routes.Interest.interestManager()" title="Meus interesses">
			<i class="icon-star"></i>
		</a>
		<a href="@com.feth.play.module.pa.controllers.routes.Authenticate.logout()" title="Sair">
			<i class="icon-signout"></i>
		</a>
	</div>
</div>

<div class="mupi_logo">
  <a class="logo" href="@routes.Feed.resetFeed()" alt="mupi"></a>
</div>

<div id="notifications" class="hide">
 <i class="icon-caret-up caret_not"></i>
 <ul>
 	@if(!nBucket.isEmpty){
 	<li><button id="clearNotifications"><i class="icon-ok"></i>Marcar todas como lidas</button></li>
     @for(notification <- nBucket){
	   <li class="li_notification">
	       <a href="@routes.Mupi.publication(notification.getPublication.getId)">@notification.getBody</a>
	   </li>
	 }
	}else{
		<li class="li_empty_notification">Não há novas notificações</li>
	}
  </ul>
</div>