@(nav: String = "")

@import be.objectify.deadbolt.views.html._
@import be.objectify.deadbolt.Deadbolt

<link href="@routes.Assets.at("css/logged_header.css")" rel="stylesheet">
<script type="text/javascript" src="@routes.Assets.at("js/mupi-alertHandler.js")"></script>


<div class="mupi-navbar navbar-fixed-top">
	<div id ="menu_user" class="pull-right">
		<a href="@routes.Profile.profile()">
			<i class="icon-user"></i>
		</a>
		<a href="@routes.Interest.interestManager()">
			<i class="icon-wrench"></i>
		</a>
		<a href="@com.feth.play.module.pa.controllers.routes.Authenticate.logout()">
			<i class="icon-signout"></i>
		</a>
	</div>
</div>

<div class="mupi_logo">
  <a class="logo" href="@routes.Feed.resetFeed()" alt="mupi"></a>
</div>